# Crear y modificar un diccionario

In [1]:
# Crea un diccionario llamado planeta con los datos propuestos
planeta = {
  'nombre': 'Marte',
    'Lunas': 2  
}

In [3]:
# Muestra el nombre del planeta y el n√∫mero de Lunas que tiene
print(f'{planeta["nombre"]} has {planeta["Lunas"]} Lunas')

Marte has 2 Lunas

In [13]:
# Agrega la clave circunferencia con los datos proporcionados
planeta['circunferencia (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [17]:
# Imprime el nombtre del planeta con su circunferencia polar
print(f'{planeta["nombre"]} tiene una circunferencia polar {planeta["circunferencia (km)"]["polar"]}')

Marte tiene una circunferencia polar 6752

# Calculo de valores

In [9]:
planeta_Lunas = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [10]:
Lunas = planeta_Lunas.values()
planetas =len(planeta_Lunas.keys())

In [18]:
total_Lunas = 0
for Luna in Lunas:
    total_Lunas = total_Lunas + Luna
    
    average = total_Lunas / planetas
    print(average)

0.0
0.0
0.08333333333333333
0.25
6.833333333333333
13.666666666666666
15.916666666666666
17.083333333333332
17.5
17.666666666666668
17.75
17.833333333333332